* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    user-select: none;
  }
body {
    background-color: rgb(244, 66, 86);  
  }

  @keyframes intro-fade {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

  @keyframes expand {
      0% {height: 100%;}
      0% {height: inherit;}
  }

/*======Layout=======*/

#game-frame {
    width: 100%;
    height: 100vh;
    display: flex;
  }

.column {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 20px;
  }
 
    .first{
        flex: 3 1 50%;
    }
    .second {
        flex-direction: column;
        flex: 2 2 30%; 
        align-content: space-between;
    }
    .third {
        flex: 1 6 auto;
        flex-flow: column;
        justify-content: flex-start;
        animation-name: intro-fade;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: both;
        }

/*======Elements=======*/

#cloak {
    width: 150vw;
    height: 150vh;
    position: fixed;
    background-color:  rgba(12, 12, 12, 0.527);
    z-index: 1;
    animation-name: intro-fade;
    animation-duration: 1s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
  }

.container {
    background-color: rgba(249, 249, 249, 0.7);
    height: auto;
    border-radius: 10px;
    color: rgb(244, 66, 86);
    animation-name: intro-fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

#game {
flex: 0 0 100%;
height: auto;      
display: flex;
flex-flow: row wrap;
}

#game > div {
display: flex;
justify-content: center;
align-content: center;
font-size: calc(1em + 1vw); 
flex: 1 1 21%;
height: auto;
border: 0.2px inset rgba(244, 66, 87, 0.342);  
}

#game > div:hover{
    border-color: rgb(189, 27, 46);
}
#game > div:active{
    background-color: rgba(160, 160, 160, 0.192);
}

#game > div > span {
    display: block;
    align-self: center;
    pointer-events: none;
}

.disableClick {
    pointer-events: none !important;
}

.match {
    background-color: rgb(189, 27, 46);
    color: wheat;
    border: none;
}

#timer {
    flex: 1 1 auto;
    font-size: calc(1em + 6vw);
    font-family: 'Allerta Stencil', 'Open Sans', 'Arial';
    animation-delay: 0.5s;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
  }

#score-board {
    flex-direction: column;
    text-align: center;
    display: flex;
    flex: 1 1 auto;
    height: auto;
}
#score-board > .container {
    margin-bottom: 20px;
}

#board {
    flex: 2 1 50%;
    height: auto;
    font-size: calc(0.5em + 1vw);
    font-family: 'Anton', 'Open Sans', 'Arial';
    animation-delay: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

    #board h1 {
        flex: 0 0 auto;
    }

    #progress {
        flex: 0 0 50%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-items: space-around;
        justify-content: center;
        justify-self: flex-end;
    }
    .bar {
        flex: 0 0 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        visibility: hidden;
    }
    .bar div {
        width: 30%;
        background-color: rgb(244, 66, 86);
        margin: 10px auto;
        overflow: hidden;
        animation-name: expand;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
  
#new-game {
    flex: 1 2 10%;
    width: 60%;
    color: white;
    font-family: 'Anton', 'Open Sans', 'Arial';
    font-size: calc(0.5em + 1vw);
    border: none;
    animation-delay: 1s;
    z-index: 1;
   }
   #new-game:disabled, #new-game:active {
    background-color: brown;
    color: rgb(244, 66, 86);
    outline: none;
}

#welcome {
    font-family: 'Anton', 'Open Sans', 'Arial';
    font-size: calc(1em + 3vw);
    text-transform: uppercase;
    color: white;
    align-self: flex-end;
    }
  
#username {
    font-family: 'Advent Pro', 'Open Sans', 'Arial';
    font-size: calc(1em + 6vw);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    }

    @media all and (max-height: 508px){
        #welcome, #username {
          margin-left: 3px;
            font-size: calc(1em + 1vh);
            line-height: 1;
        }
        .third {
            flex-flow: row nowrap;
            justify-content: center;
            align-content: flex-start;
      }
    }

    @media all and (max-width: 1230px) {
      
        #game-frame {
            flex-flow: column;
            height: calc(100vh - 56px);
            justify-content: center;
            align-content: space-around;
            position: fixed;
          }
  
        .column {
          flex: 1 1 auto;
          height: auto;
          padding: 5px;
        }
        .first{
            flex: 3 1 auto;
            order: 3;
        }
        .second {
            flex-direction: column;
            flex: 1 1 auto; 
            align-content: flex-start;
            order: 2;
        }
        .third {
            flex: 1 7 auto;
            order: 1;
      }

        .container {
            border-radius: 5px;
            height: auto;
        }

        #game {
            flex: 1 1 100%;
            display: flex;
            flex-flow: row wrap;
            }

        .card {
            font-size: calc(1em + 1vw);
            text-align: center;  
            flex: 1 1 21%;
            height: auto;
            padding: calc(0.5em + 1vw);
            }
        
        #timer {
            flex: 0 0 auto;
            height: 1.5em;
            font-size: calc(1em + 6vw);
            font-family: 'Allerta Stencil', 'Open Sans', 'Arial';
            animation-delay: 0.5s;
        }

        #new-game {
            flex: 1 2 10%;
            width: 60%;   
            align-self: center;
            height: 50px;
        }
        #new-game:disabled {
            display: none;
        }

      #welcome {
        align-self: flex-start;
        }
      
    #username {
        writing-mode: horizontal-tb;
        text-orientation: horizontal-tb;
        align-self: center;
        }
    
    #board {
        display: none;
        height: 60vh;
    }
}

    /* @media only screen and (max-width: 1366px) and (orientation: landscape) {
        .second, .third {
            display: none;
        }
        #game-frame {
            height: auto;
            }       
    } */